.team-card {
    font-size: x-large;
    text-shadow: 2px 1px 6px black;
    color:white !important;
    border: 3cm black;
    border-radius: 4rem;
}

.main-card {
    font-size: 52px;
}

.no-pronouns {
    display: none;
    visibility: hidden;
}

.complete {
    display: block;
    filter:grayscale() !important;
}

.in-progress {
    display:block;
}

.incomplete {
    filter:grayscale() brightness(0.2) !important;
}

.pronouns {
    font-size: x-small;
    background-color: red;
}

#team-name {
    align-self:flex-start;
    font-family: 'Encode Sans Condensed Bold Regular';
    font-weight: bolder;
    font-size:medium;
    font-stretch: extra-condensed !important;
}

#team-progress {
    font-size: x-small;
}

#orange {
    background: orange !important;
}

#purple {
    background: purple !important;
}

#green {
    background: limegreen !important;
}

#black {
    background: black !important;
}

#sub-stream {
    width:fit-content;
    height:fit-content;
}

