.team-card {
    font-size: x-large;
    text-shadow: 3px 1px 6px black;
    color:white !important;
    border: 3cm black;
}

.main-card {
    font-size: 48px;
}

.no-pronouns {
    display: none;
    visibility: hidden;
}

.in-progress {
    display:block;
    opacity:0.4;
}

.incomplete {
    visibility: hidden;
}

.pronouns {
    font-size: x-small;
    background-color: rgb(29, 248, 0);
}

#team-name {
    font-family: 'Encode Sans Condensed Bold Regular';
    font-weight: bolder;
    font-size:medium;
    font-stretch: extra-condensed !important;
}

/* .material-symbols-outlined {
    font-size:32px
} */

#team-progress {
    font-size: large;
}

#black {
    background: black !important;
}

#red {
    background: red !important;
}

#purple {
    background: purple !important;
}

#green {
    background: limegreen !important;
}

#blue {
    background: blue !important;
}

#magenta {
    background: magenta !important;
}

#sub-stream {
    width:fit-content;
    height:fit-content;
}

